body {
}

.about-me{
    margin-left:15%;
    margin-right:15%;
}

Section{
    width:100%;
    margin: 3rem 0;
}

hr.section-separator {
    border: .01rem solid #F6F3ED;

}

hr.item-separator {
    border: .01rem solid #CAFF00;

}

.portfolio-image {
    background-color: transparent;
}

.portfolio-name{
    background-color:transparent;
}

.portfolio-item{
    width:100%;
}

.item-number{
    font-size: 5rem;
    font-style:italic;
    font-weight:bold;
    margin: 2rem;
}
.item-text {
    margin: 2rem;
}
.portfolio-title{
    padding-top :1rem;
    padding-left :2rem;
    padding-bottom :.1rem;
}
.portfolio-role {
    padding: .1rem 2rem;
}

.view-game-btn {
    color: #F6F3ED;
    background-color: transparent;
    border-color: #CAFF00;
}
    .view-game-btn:hover {
        color: #020217;
        background-color: #CAFF00;
        border-color: #CAFF00;
    }

    .view-game-btn:focus {
        color: #020217;
        background-color: #CAFF00;
        border-color: #CAFF00;
    }

.custom-link {
    font-size: 2em;
    font-style: italic;
    font-weight:900;
    color: #F6F3ED;
    transition: color 0.3s; /* Smooth transition for color change */
}

    .custom-link:hover {
        color: #CAFF00;
        text-decoration: none;
    }